* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#navigator-div {
    z-index: 9;
    width: 100%;
    position: fixed;
}

.button-row {
    display: flex;
    flex-direction: row;
}

#navigator-div a, #navigator-div > div {
    background-color: var(--background-grey);
    padding: 5px;
    text-decoration: none;
}

#navigator-filler {
    flex-grow: 1;
}

#content-main {
    min-height: 100vh;
    padding: 50px;
    background-color: var(--background-grey);
}