:root {
    --text-default: rgb(179, 172, 151);
    --page-bg: rgb(51, 50, 45);
    --grid-elem-bg: rgb(23, 23, 18);
    --grid-elem-header-bg: rgba(0, 0, 0, 0.4);
    --grid-elem-header-text:rgb(168, 152, 131);
    --grid-elem-header-border: rgb(98, 88, 81);

    --topbar-tab: var(--page-bg);
    --topbar-tab-hover: rgb(77, 75, 65);
    --link: rgb(208, 144, 59);
    --link-hover: rgb(255, 196, 119);

    --popup-container-bg: rgba(13, 13, 13, 0.5);
    --popup-bg: var(--page-bg);
    --popup-border: var(--grid-elem-bg);

    --detail-grid-box-bg: var(--page-bg);
    --detail-grid-box-border: rgb(38, 38, 38);
    --detail-grid-box-header-bg: rgba(0, 0, 0, 0.2);
    --detail-grid-box-header-border: rgba(31, 31, 31, 0.1);

    --object-list-box-bg: var(--page-bg);
    --object-list-box-bg-hover: rgba(255, 255, 255, 0.12);
    --object-list-box-header-bg-hover: rgba(0, 0, 0, 0);
    --object-list-box-header-border: rgb(60, 56, 52);

    --object-multiselect-item-bg: rgba(255, 255, 255, 0.05);
    --object-multiselect-item-bg-hover: rgba(255, 255, 255, 0.1);
    --object-multiselect-item-border: rgba(255, 255, 255, 0.01);
    --object-multiselect-item-selected-bg: rgba(36, 58, 32, 0.541);
    --object-multiselect-item-selected-bg-hover: rgba(60, 109, 51, 0.541);
    --object-multiselect-item-selected-border: rgba(255, 255, 255, 0.05);

    --button-input-select-bg: rgb(66, 65, 63);
    --button-input-select-bg-hover: rgb(129, 125, 120);
    --button-input-select-border: rgb(216, 171, 112);

    --warning-bg: rgba(106, 9, 9, 0.45);
    --warning-bg-hover: rgba(131, 29, 29, 0.45);

    --darkred: rgb(132, 30, 30);
    --darkgreen: rgb(90, 172, 90);
    /* --linkblue: rgb(59, 95, 107); */
    /* --linkblue: rgb(104, 164, 185); */

}

.darkred {
    color: var(--darkred);
}
