
.object-list-box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 100%;
}

.object-list-box {
    flex: 1 1 20%;
    max-width: 24%;
    margin: 24px;
    background-color: var(--object-list-box-bg);
    border-radius: 10px;
    transition: background-color .1s ease;
}

.new-object-list-box {
    flex: 1 1 10%;
}

.object-list-box:hover {
    background-color: var(--object-list-box-hover-bg);
    transition: background-color .1s ease;
}

.object-list-box > main {
    padding: 10px;
}

.object-list-box > header {
    border-style: solid;
    border-color: var(--object-list-box-header-border);
    border-width: 0 0 1px 0;
    padding: 8px 4px 2px;
    text-align: center;
    font-size: larger;
    border-radius: 10px 10px 0 0;
    font-weight: 500;
    margin: 0;
    transition: background-color .1s ease;
    position: relative;
}

.object-list-box > header.hovering {
    background-color: var(--object-list-box-hover-bg);
}

.object-list-box:hover {
    cursor: pointer;
}

.object-list-box > main > table {
    margin: 0 auto;
}

.object-list-box > main > table > td {
    padding: 2px 10px;
    /* text-align: center; */
}

.centred-block {
    width: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.right-aligned-icon-container {
    position: absolute;
    right: 18px;
    top: 25%;
}